@media (min-width: 1200px) and (max-width: 1400px)
{
.MainTabs ul.tabs li { padding:7px 5px; font-size:12px; }
.MainTabs ul.tabs li img { margin:-3px 0 0 3px; }
}

@media (min-width: 992px) and (max-width: 1199px)
{
.MainTabs ul.tabs li { padding:7px 5px; font-size:12px; margin-bottom:2px;}
.MainTabs ul.tabs li img { margin:-3px 0 0 3px; }
.MainTabs ul.tabs li { border-bottom:1px solid #cacaca; }
.MainTabs ul.tabs li.current:before { display:none; } 

/********** Jobs Page START ************/
.JobsDes p { font-size:15px; line-height:25px; }
.accordion-section-title { font-size:14px; padding:10px 15px 8px;}
.JobsAcrdionDiv ol li { font-size:15px; }
/********** Jobs Page END ************/


}
@media only screen and (max-width: 991px) 
{
/********** Jobs Page START ************/
.HdrMenuNew { display:none; float:left; width:100%; margin:0; padding:0; background: linear-gradient(105.62deg, #FED230 -95.22%, #027439 76.16%); text-align:center;} 
.HdrMenuNew ul {}
.HdrMenuNew ul li { width:100%; margin:0;}
.HdrMenuNew ul li a { background:none;}	
/********** Jobs Page END ************/
}
@media (min-width: 768px) and (max-width: 991px)
{
.HedrRgt h2 { font-size:24px; }
.HedrRgt p { font-size:12px; }

.MainTabs ul.tabs li { padding:7px 5px; font-size:12px; margin-bottom:2px; }
.MainTabs ul.tabs li img { margin:-3px 0 0 3px; }
.MainTabs ul.tabs li { border-bottom:1px solid #cacaca; }
.MainTabs ul.tabs li.current:before { display:none; } 



/********** Jobs Page START ************/
.JobPage { padding:30px 5px;}
.JobsDes p { font-size:15px; line-height:25px; }
.accordion-section-title { font-size:14px; padding:10px 15px 8px;}
.JobsAcrdionDiv ol li { font-size:15px; }

/********** Jobs Page END ************/



}


@media only screen and (max-width: 767px) 
{
.Header { padding:0 15px; }
.HedrRgt h2,
.HedrRgt p  { display:none; }

.MainTabs ul.tabs li { border:1px solid #cacaca; margin:0 2px 2px 0;}
.MainTabs ul.tabs li:first-child { border:1px solid #cacaca; }


/********** Jobs Page START ************/
.JobPage { padding:30px 5px;}
.JobPage .row { margin:0;}
.JobsDes p { font-size:15px; line-height:25px; }
.accordion-section-title { font-size:14px; padding:10px 15px 8px;}
.JobsAcrdionDiv ol li { font-size:15px; }

.JobsDtl ul li { margin-bottom:15px; padding-bottom:15px; }
.JobsDtl ul li p { margin:0 0 5px;}
.JobsDtl ul li p strong { margin:0 0 5px;}

/********** Jobs Page END ************/
}

@media only screen and (max-width: 540px) 
{
.BioInfo ul li { width:100%; }
.DtlFrm ul li label { max-width:120px; }
.DtlFrm ul li span { }
}
@media only screen and (max-width: 420px) 
{
.DtlFrm ul li input[type="text"], .DtlFrm ul li input[type="email"], .DtlFrm ul li input[type="password"], .DtlFrm ul li input[type="tel"] { max-width:100%; }
.select-style { max-width:100%; }
form.cmxform .DtlFrm01 ul li label.error { left:24px; }
.DtlFrm01 ul li .readonly { left:0;}

}

@media only screen and (max-width: 360px) 
{
}
